data/cifar-10-batches-py/test_batch
data/cifar-10-batches-py/readme.html
data/cifar-10-batches-py/data_batch_5
data/cifar-10-batches-py/data_batch_4
data/cifar-10-batches-py/data_batch_3
data/cifar-10-batches-py/data_batch_2
data/cifar-10-batches-py/data_batch_1
data/cifar-10-batches-py/batches.meta
data/cifar-10-python.tar.gz
homework2.ipynb
homework2 (1).ipynb
homework1 sonny.ipynb
Homework julien.ipynb
DeepLearningProposal_1.pdf
